<div class="conteudo">

    <p-breadcrumb [model]="items"></p-breadcrumb>

    <div style="width: 100%; ">  
        <button id="btnNovoBeneficio" pButton type="button" label="Novo" icon="pi pi-plus"
            class="p-button-success btnNovo"
            style="display: inline-block; margin-top: 0%; margin-left: 90%;"
            (click)="navegate(['/programas/beneficios-cadastro/'+programa.id])">
        </button>
    </div>
    
    <p-fieldset legend="Programa" toggleable="true">
        <div id="div-nome" class="p-field tamanhoSecundario">
            <label>Id do Programa: </label>
            <label>{{programa.id}}</label>            
        </div>
        <div id="div-nome" class="p-field tamanhoSecundario">
            <label>Nome do Programa: </label>
            <label>{{programa.nome}}</label>            
        </div>
        <div id="div-rg" class="p-field tamanhoSecundario">
            <label>Descrição: </label>
            <label>{{programa.descricao}}</label>
        </div>
        <div id="div-inicio" class="p-field tamanhoSecundario">
            <label>Data de Início: </label>
            <label>{{dataInicioVigencia  | date: 'dd/MM/yyyy'}}</label>
        </div>
        <div id="div-final" class="p-field tamanhoSecundario">
            <label>Data de Encerramento: </label>
            <label>{{dataTerminoVigencia  | date: 'dd/MM/yyyy'}}</label>
        </div>
    </p-fieldset> 
    
    <br>

    <div>
        <p-table #dt [value]="beneficiosDoPrograma" [globalFilterFields]="['nome','descricao']"
            [paginator]="true" [rows]="5" styleClass="p-datatable-sm">
            
            <ng-template pTemplate="caption" style="height: min-content;">    
                
                <div style="display: inline-block;" >
                    <h3 class="p-m-0" >Beneficios {{programa.nome}}</h3>
                </div>    
            
                <div style="display: inline-block; margin-left: 1%;" >     
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                    </span>
                </div>  

            </ng-template>
    
            <ng-template pTemplate="header" >
    
                <tr>                   
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Justificativa</th>
                    <th>Vagas</th>
                    <th>Recursos</th>
                    <th>Qtd inadimplente</th>
                    <th>Qtd Cancelamento</th>
                    <th>Programa ID</th>  
                    <th>Qtd. Benefícios Disponibilizados.</th>                   
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-beneficio>
                <tr>
                   
                    <td>{{beneficio.id}}</td>
                    <td>{{beneficio.nome}}</td>
                    <td>{{beneficio.justificativa}}</td>
                    <td>{{beneficio.limiteVagas}}</td>
                    <td>{{beneficio.totalRecursosAportados}}</td>
                    <td>{{beneficio.toleranciaUsosInadimplente}}</td>
                    <td>{{beneficio.toleranciaUsosCancelado}}</td>
                    <td>{{beneficio.programa.id}}</td>
                    <td>{{beneficio.totalBeneficios}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-secondary p-button-text" (click)="navegate(['/programas/beneficios-atualizar/'+beneficio.id])" ></button>
                    
                       <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" 
                       (click)="showModalDialog()" (click)="setarBeneficioDTO(beneficio)"></button>
                        <p-dialog header="Deleção" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                            [draggable]="false" [resizable]="false">
                            
                            <div *ngIf="beneficioSelecionadoDTO">
                            <p class="p-m-0">Deseja realmente deletar o beneficio {{ beneficioSelecionadoDTO.nome }} ?</p>
                        </div>
                            
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayModal=false" label="Cancelar" styleClass="p-button-text" ></p-button>
                                <p-button icon="pi pi-check" (click)="deletar()" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
                            </ng-template>
                        
                        </p-dialog>
                    </td>
                    
    
                </tr>
            </ng-template>
            
        </p-table>
    </div>


</div>


