<div id="cadastro-beneficiario" class="conteudo">
   
    <p-breadcrumb [model]="items"></p-breadcrumb>
    
    <form #beneForm="ngForm" (ngSubmit)="onSubmit()">
    
        <p-tabView>
        <p-tabPanel header="Dados do Beneficio">       
        
                <div class="p-fluid">
                    
                <table>                       

                 <td> 

                <div id="div-nome-beneficio" class="p-field tamanhoSecundario">
                    <label for="nome">Nome do Beneficio*</label>
                    <input id="nome" [(ngModel)]="beneficio.nome" type="text" pInputText name="nome" 
                    required> 

                    
                </div>
                <div id="div-just" class="p-field tamanhoSecundario">
                    <label for="justificativa">Justificativa*</label>
                    <input id="justificativa" [(ngModel)]="beneficio.justificativa" type="text" pInputText name="justificativa"  required > 
                
                    
                </div>
                <div id="div-tt-re-aport" class="p-field tamanhoSecundario">
                    <label for="aport">Total de Recursos Aportados*</label>
                    <input id="aport" [(ngModel)]="beneficio.totalRecursosAportados" type="number" pInputText
                        name="totalRecursosAportados"  required >                         
                                   
                </div>
                <div id="div-vagas" class="p-field tamanhoSecundario">
                    <label for="vagas">Qtd. Vagas*</label>
                    <input id="vagas" [(ngModel)]="beneficio.limiteVagas" type="number" pInputText
                        name="limiteVagas" required >        
    
                </div>
            
                <div class="p-formgroup-inline" style="padding-top: 2%;">
                    <label for="ctrl-biometria">Biometria* </label>
                    <div class="p-field-checkbox" style="display: inline-block;">
                    <p-radioButton name="city7" value="true" [(ngModel)]="beneficio.controleBiometria" inputId="city7"></p-radioButton>
                    <label for="city7">Sim </label>
                    </div>
                    <div class="p-field-checkbox" style="display: inline-block;">
                        <p-radioButton name="city8" value="false" [(ngModel)]="beneficio.controleBiometria" inputId="city8"></p-radioButton>
                        <label for="city8">Não </label>
                    </div>
                </div>    
                
                <div class="p-formgroup-inline" style="padding-top: 2%;">
                    <label for="ctrl-biometria">Documento* </label>
                    <div class="p-field-checkbox" style="display: inline-block;">
                    <p-radioButton name="city7" value="true" [(ngModel)]="beneficio.controleDocumento" inputId="city7"></p-radioButton>
                    <label for="city7">Sim</label>
                    </div>
                    <div class="p-field-checkbox" style="display: inline-block;">
                        <p-radioButton name="city8" value="false" [(ngModel)]="beneficio.controleDocumento" inputId="city8"></p-radioButton>
                        <label for="city8">Não</label>
                    </div>
                </div>

                <div class="p-formgroup-inline" style="padding-top: 2%;">
                    <label for="ctrl-biometria">Carteirinha* </label>
                    <div class="p-field-checkbox" style="display: inline-block;">
                    <p-radioButton name="city7" value="true" [(ngModel)]="beneficio.controleCarteirinha" inputId="city7"></p-radioButton>
                    <label for="city7">Sim</label>
                    </div>
                    <div class="p-field-checkbox" style="display: inline-block;">
                        <p-radioButton name="city8" value="false" [(ngModel)]="beneficio.controleCarteirinha" inputId="city8"></p-radioButton>
                        <label for="city8">Não</label>
                    </div>
                </div>

                </td>
                <td>
                
                <div id="div-periodicidade" class="p-field p-col-12 p-md-4">
                    <label for="dropdown">Periodicidade*</label>
                    <span class="p-float-label">
                        
                    <p-dropdown [options]="periodicidades" [(ngModel)]="periodicidade"
                        placeholder="Selecione a periodicidade" optionLabel="name" 
                        [showClear]="true" [ngModelOptions]="{standalone: true}" required ></p-dropdown>
                    </span>                
                                     
                </div>
                <div id="div-inadim" class="p-field tamanhoSecundario">
                    <label for="inadim">Tolerância para Inadimplência*</label>
                    <input id="inadim" [(ngModel)]="beneficio.toleranciaUsosInadimplente" type="number" pInputText
                        name="inadimplente" required>                         
                                   
                        
                </div>
                <div id="div-cancelamento" class="p-field tamanhoSecundario">
                    <label for="cancelamento">Tolerância para Cancelamento*</label>
                    <input id="cancelamento" [(ngModel)]="beneficio.toleranciaUsosCancelado" type="number" pInputText
                        name="cancelamento" required >                                           
                </div>

                <div id="div-ttl-bene" class="p-field tamanhoSecundario">
                    <label for="ttl-bene">Qtd Benefícios Disponibilizados*</label>
                    <input id="ttl-bene" [(ngModel)]="beneficio.totalBeneficios" type="number" pInputText
                    name="ttl" required > 
                </div>
                      
            </td>            
        </table>
   
     </div>
       
    </p-tabPanel>
        
</p-tabView>

    <button pButton id="enviar" label="Salvar" type="submit" 
        style="width: 100px; margin-left: 20px;" *ngIf="!beneficio.id"
        class="p-button-outlined p-button-info"
        [disabled]="beneficio.nome == ''
        || beneficio.periodicidade == ''
        || beneficio.limiteVagas == null
        || beneficio.justificativa == ''
        || beneficio.toleranciaUsosCancelado == null
        || beneficio.toleranciaUsosInadimplente == null
        || beneficio.totalBeneficios == null
        || beneficio.totalRecursosAportados == null">
    </button>    
    
    <button pButton id="atualizar" label="Atualizar" type="submit" 
        style="width: 100px; margin-left: 20px;" *ngIf="beneficio.id"
        class="p-button-outlined p-button-info"
    ></button>

    <button pButton id="cancelar" label="Voltar" 
        (click)="navegate(['/programas/beneficios/'+this.programa.id])" 
        style="width: 100px; margin-left: 5px;"
        class="p-button-outlined p-button-info"
    ></button>
        

</form>

</div>

