<div class="conteudo">

    <div style="width: 100%; display: inline-block; height: 5px !important;">
        <p-breadcrumb [model]="items" style="display: inline-block; width: 100%; margin-top: 0%; height: 5px !important;"
        class="breadCrumb">
        </p-breadcrumb>
    </div>
    <br>
    <br>
    <div style="width: 100%; ">  
        <button pButton type="button" label="Novo" icon="pi pi-plus"
            class="p-button-success btnNovo"
            style="display: inline-block; margin-top: 0%; margin-left: 90%;"
            (click)="navegate(['/funcionarios/funcionarios-cadastro/'])">
        </button>
    </div>

    <br>
    <br>


<div>
        <p-table #dt [value]="funcionariosDTO" [globalFilterFields]="['nome','cpf']"
        [paginator]="true" [rows]="5">
        
        <ng-template pTemplate="caption" style="height: min-content;">

            <div class="p-d-flex p-ai-center p-jc-between" style="display: inline-block;">
               <h3 class="p-m-0" style="margin-right: 700px;">Funcionários</h3>
            </div>
            <div >                
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>           
       
        </ng-template>

        <ng-template pTemplate="header" >

            <tr>
               
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Data de Emissão</th>
                <th>órgão Emissor</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-funcio>
            <tr>
               
                <td>{{funcio.id}}</td>
                <td>{{funcio.nome}}</td>
                <td>{{funcio.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                <td>{{funcio.cpf}}</td>
                <td>{{funcio.rg}}</td>
                <td>{{funcio.rgDataEmissao}}</td>
                <td>{{funcio.rgOrgaoEmissor}}</td>
                <td>
                    
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-secondary p-button-text" (click)="navegate(['/funcionarios/funcionarios-cadastro/'+ funcio.id])" ></button>
                
                   <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="showModalDialog()" (click)="setarFuncionario(funcio)"></button>
                    <p-dialog header="Deleção" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        
                        <div *ngIf="funcionarioSelecionadoDTO">
                            <p class="p-m-0">Deseja realmente deletar o funcionário {{ funcio.nome }} ?</p>
                        </div>
                        
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayModal=false" label="Cancelar" styleClass="p-button-text" ></p-button>
                            <p-button icon="pi pi-check" (click)="deletar()" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
                        </ng-template>
                    
                    </p-dialog>
                </td>

            </tr>
        </ng-template>
        
    </p-table>
</div>

</div>