.login{
    width: 150px; 
    margin-top: 120px;
    margin-left: 40%;
    align-items: center;
}

#enviar{
    margin-top: 10px;    
}

.logo{
    max-height: 70px;
    width: 300px, 300px;
    margin-left: 570px;
    margin-bottom: -120px;
    padding-bottom: 10px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

:host ::ng-deep .p-dialog{
    height: 50px !important;
    background-color: rgb(243, 105, 87) !important;
}