<div id="conteudo" class="conteudo">

    <p-breadcrumb [model]="items"></p-breadcrumb>
    
    <form id="formPrograma" #programaForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
    
        <p-tabView>
        <p-tabPanel header="Dados do Programa">       
        
            <div>
                <div class="p-fluid">
                    
                    <table>
                        

                 <td> 

                <div id="div-nome" class="p-field tamanhoSecundario">
                    <label for="nome">Nome do Programa*</label>
                    <input id="nome" type="text" pInputText name="nome" 
                    [(ngModel)]="programa.nome" required #nome="ngModel"> 

                    <div *ngIf="!nome.valid && nome.touched" class="alerta">
                        Nome inválido! 
                    </div>
                </div>
                <div id="div-rg" class="p-field tamanhoSecundario">
                    <label for="rg">Descrição*</label>
                    <input id="rg" type="text" pInputText name="rg" [(ngModel)]="programa.descricao" required #rg="ngModel"> 
                
                    <div *ngIf="!rg.valid && rg.touched" class="alerta">
                        Descrição inválido! 
                    </div>
                </div>
                <div id="div-inicio" class="p-field tamanhoSecundario">
                    <label for="dataInicio">Data de Início do Programa*</label>
                    <input id="dataInicio" type="date" pInputText
                        name="dataInicio" [(ngModel)]="dataInicioVigencia" required #data1="ngModel">                         
                                   
                        <div *ngIf="!data1.valid && data1.touched" class="alerta">
                            Data de Início inválida! 
                        </div>
                </div>
                <div id="div-termino" class="p-field tamanhoSecundario">
                    <label for="dataTermino">Data de Encerramento do Programa*</label>
                    <input id="dataTermino" type="date" pInputText
                        name="dataTermino" [(ngModel)]="dataTerminoVigencia" required #data2="ngModel">                         
                                   
                        <div *ngIf="!data2.valid && data2.touched" class="alerta">
                            Data de Encerramento inválida! 
                        </div>
                </div>
                      
            </td>            
        </table>
   
    </div>
    </div>    
               
    </p-tabPanel>
        
</p-tabView>
    
</div>

    <button pButton id="enviar" label="Salvar" type="submit" 
    style="width: 100px; margin-left: 20px;" *ngIf="!programa.id"
    [disabled]="programa.nome == '' 
    || programa.descricao == ''  
    "></button>    
    
    <button pButton id="atualizar" label="Atualizar" type="submit" style="width: 100px; margin-left: 20px;" *ngIf="programa.id"></button>
    <button pButton id="cancelar" label="Voltar" (click)="navegate(['/programas/'])" style="width: 100px; margin-left: 5px;"></button>
    
    <p-dialog header="Erro!" [(visible)]="display" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="500"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="content">
        Salvo com sucesso!
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
    </p-dialog>


</form>

</div>


