<div class="conteudo">

    <p-breadcrumb [model]="items"></p-breadcrumb>
    
    <form id="formFuncionario" #funcionarioForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
    
        <p-tabView>
        <p-tabPanel header="Dados Pessoais">       
        
            <div>
                <div class="p-fluid">
                    
                    <table>

                 <td> 
                <div class="p-field tamanhoSecundario">
                    <label for="nome">Nome*</label>
                    <input id="nome" type="text" pInputText name="nome" 
                    [(ngModel)]="funcionario.nome" required #nome="ngModel"> 

                    <div *ngIf="!nome.valid && nome.touched" class="alerta">
                        Nome inválido! 
                    </div>
                </div>
                <div class="p-field tamanhoSecundario">
                    <label for="dataNascimento">Data de Nascimento*</label>
                    <input id="dataNascimento" type="date" pInputText
                        name="dataNascimento" [(ngModel)]="funcionario.dataNascimento" required #data="ngModel">                         
               
                    
                        <div *ngIf="!data.valid && data.touched" class="alerta">
                            Data de Nascimento inválida! 
                        </div>
                </div>
                <div class="p-field tamanhoSecundario" *ngIf="!funcionario.id">
                    <label for="cpf">CPF*</label>
                    <p-inputMask id="cpf" type="text" mask="999.999.999-99" name="cpf" [(ngModel)]="funcionario.cpf" required #campocpf="ngModel"></p-inputMask>
                
                    <div *ngIf="!campocpf.valid && campocpf.touched" class="alerta">
                        CPF inválido! 
                    </div>
                
                </div>
                <div class="p-field tamanhoSecundario" *ngIf="funcionario.id">
                    <label for="cpf">CPF*</label>
                    <p-inputMask id="cpf" type="text" mask="999.999.999-99" name="cpf" [(ngModel)]="funcionario.cpf" required #campocpf="ngModel" disabled></p-inputMask>
                
                    <div *ngIf="!campocpf.valid && campocpf.touched" class="alerta">
                        CPF inválido! 
                    </div>
                
                </div>
                <div class="p-field tamanhoSecundario">
                    <label for="rg">RG*</label>
                    <input id="rg" type="text" pInputText name="rg" [(ngModel)]="funcionario.rg" required #rg="ngModel"> 
                
                    <div *ngIf="!rg.valid && rg.touched" class="alerta">
                        RG inválido! 
                    </div>
                </div>
                <div class="p-field tamanhoSecundario">
                    <label for="dataExpedicao">Data de Expedição*</label>
                    <input id="dataExpedicao" type="date" pInputText name="rgDataEmissao" [(ngModel)]="funcionario.rgDataEmissao" required #emissao="ngModel"> 
                
                    <div *ngIf="!emissao.valid && emissao.touched" class="alerta">
                        Data de Expedicao inválida! 
                    </div>
                </div>
             </td> 
             <td> 
                <div class="p-field tamanhoSecundario">
                    <label for="orgaoEmissor">Órgão Emissor*</label>
                    <input id="orgaoEmissor" type="text" pInputText name="rgOrgaoEmissor" [(ngModel)]="funcionario.rgOrgaoEmissor" required #orgao="ngModel"> 
               
                    <div *ngIf="!orgao.valid && orgao.touched" class="alerta">
                        Órgão Emissor inválido! 
                    </div>
               
                </div>
                <div class="p-field tamanhoSecundario">
                    <label for="admin">Admin*</label>
                    
                   <div style="display: inline-flexbox;"> 
                        <p-radioButton lable="Sim" value="true" name="valorSelecionadoAdmin" [(ngModel)]="funcionario.admin" inputId="adminSim" required #sim="ngModel"></p-radioButton>
                        <label for="adminSim">Sim</label>
                    </div> 
                    <div style="display: inline-flexbox;">
                        <p-radioButton lable="Não" value="false" name="valorSelecionadoAdmin" [(ngModel)]="funcionario.admin" inputId="adminNao" required #nao="ngModel"></p-radioButton>
                        <label for="adminNao">Não</label>
                    </div> 

                    <div *ngIf="!orgao.valid && orgao.touched" >
                        <div *ngIf=funcionario.admin != '' class="alerta">
                            Órgão Emissor inválido! 
                        </div>
                    </div>

                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="dropdown">Tipo de Funcionário*</label>
                    <span class="p-float-label">
                        <p-dropdown [options]="tiposDeFuncionarios" [(ngModel)]="tipoSelecionado" 
                        placeholder="Selecione a categoria funcionário" optionLabel="name" 
                        [showClear]="true" [ngModelOptions]="{standalone: true}" required #tipo="ngModel"></p-dropdown>
                    </span>
                
                    <div *ngIf="!tipo.valid && tipo.touched" class="alerta">
                        Tipo de Funcionário inválido! 
                    </div>                
                </div> 
                <div class="p-field tamanhoSecundario">
                    <label for="login">Login*</label>
                    <input id="login" type="text"pInputText name="login" [(ngModel)]="funcionario.login" class="form-control" required #login="ngModel"> 
                    
                    <div *ngIf="!login.valid && login.touched" class="alerta">
                        Login inválido! 
                    </div>
                
                </div>
                <div class="p-field tamanhoSecundario" *ngIf="!funcionario.id">
                    <label for="senha">Senha*</label>
                    <input id="senha" type="password" pPassword name="senha" [(ngModel)]="funcionario.senha" required #senha="ngModel"> 
                
                    <div *ngIf="!senha.valid && senha.touched" class="alerta">
                        Senha inválida! 
                    </div>
                </div> 
                
                <div class="p-field tamanhoSecundario" *ngIf="tipoSelecionado === 'Assistente Social' " >
                    <label for="matriculaCFESS">Matrícula CFESS</label>
                    <input id="matriculaCFESS" type="text"pInputText name="matriculaCFESS" 
                    [(ngModel)]="funcionario.matriculaCFESS">                 
                </div> 
            
             </td> 
        </table>
   
        </div>
        </div>
        

        
        
        </p-tabPanel>
        <p-tabPanel header="Endereço">
            Content 2
        </p-tabPanel>
        </p-tabView>

        
    </div>

    
    <button pButton id="enviar" label="Salvar" type="submit" 
    style="width: 100px; margin-left: 20px;" *ngIf="!funcionario.id" 
    [disabled]="funcionario.nome == '' 
    || funcionario.rg == '' 
    || funcionario.rgOrgaoEmissor == ''
    || funcionario.rgDataEmissao == ''
    || funcionario.cpf == '' 
    || tipoSelecionado == ''
    || funcionario.login == ''
    || funcionario.senha == ''
    ">
    </button>
    
    
    <button pButton id="enviar" label="Atualizar" type="submit" style="width: 100px; margin-left: 20px;" *ngIf="funcionario.id"></button>
    <button pButton id="cancelar" label="Voltar" (click)="navegate(['/funcionarios/'])" style="width: 100px; margin-left: 5px;"></button>
    
    
</form>


</div>
