<div class="conteudo">
<div style="display: inline-block;">
    <div class="pizza">
        <p-chart type="pie" [data]="data" title="Orçamento" generateLegend></p-chart>
    </div>
</div> 

<div style="display: inline-block;">
    <div class="pizza">
        <p-chart type="pie" [data]="assiduidade" responsive="true"></p-chart>
    </div>
</div>


<p-button (click)="generatePdf()"> Abrir fora </p-button>
<p-button (click)="downloadPdf()"> Baixar PDF </p-button>
<p-button (click)="OpenInTheSameWindowPdf()"> Abrir aqui </p-button>
<p-button (click)="printPdf()"> Imprimir PDF </p-button>



</div>
