/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cabecalho{
    width: 100%;
    height: 80px;
    position: relative; 
    top: 0;
    background-color:  white;
}

.navegacao{
    width: 15%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    /* margin-top: 36px; */
    background-color: #04BFBF !important; 
}

/* VERDE ESCURO #338C30 */

.conteudo{
    width: 85%;
    display: inline-block;
    /* margin-top: 40px; */
}

.pai{
    height: 100%;
}

#btnSair{
    margin-left: 95%; 
    margin-top: -60px; 
    margin-bottom: 40px;
    background-color: lightgray;
    border-color: lightgray;
}

.ng-invalid:not(form).ng-touched{
    border: 1px solid red;
}

.alerta{
    padding: 12px;
    border: 1px solid red;
    border-radius: 3px;
    font-size: 10px;
    color: red;
    background-color: peachpuff;
    width: 100%;
    text-align: center;
}

.erro{
    padding: 12px;
    border: 1px solid red;
    border-radius: 3px;
    font-size: 10px;
    color: red;
    background-color: lightsalmon;
    width: 100%;
    text-align: center;
}

.sucesso{
    padding: 12px;
    border: 1px solid green;
    border-radius: 3px;
    font-size: 10px;
    color: green;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
}

.btnNovo{ 
    border: gray;
}